/BoundedTypeOfGeneric.class
/A.class
/B.class
/C.class
/D.class
/ExRestricGenericType.class
/Apple.class
/Banana.class
/Fruit.class
/Pancil.class
/Strawberry.class
/Aa.class
/GenericPrinter.class
/Generic.class
