/A.class
/B.class
/C.class
/D.class
/E.class
/FunctionToLamdaExpression.class
/FunctionToLamdaExpression$1.class
/FunctionToLamdaExpression$2.class
/FunctionToLamdaExpression$3.class
/FunctionToLamdaExpression$4.class
